html,
body,
#intro-section {
    height: 100%;
}
 body {
  color: #000;
  background-color: #fbfbfb;
  font-family: Arial,verdana,sans-serif;
  letter-spacing: 0px;
  font-family: "proxima-nova";
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: .5px;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #000;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
}

.top-nav-collapse, .page-footer {
  background-color: #fff !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #8490ff;
}

.avatar-container {
  width: 100%;
  border: 1px solid #eee;
}
.aqua-gradient {
  height: 240px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 20%, rgb(15, 4, 113)93%);
}

.image {
  margin-top: -150px;
  width: auto;
}

.img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.fa-linkedin-in {
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
}

.fa-github {
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
} 

.breadcrumb-item.active {
  color: #fff;
}

#banner {
  padding-bottom: 40px;
}

.img-fluid:hover {
  box-shadow: 0 0 2px 1px #8490ff;
}

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

a.skip:active, 
a.skip:focus, 
a.skip:hover {
  left: 0; 
  top: 0;
  width: auto; 
  height: auto; 
  overflow: visible; 
}

.card-body{
  font-size: medium;
}

#avatar {
  margin-top: -150px;
  width: 300px;
}

@media (max-width: 900px) and (min-width: 622px) {
    .avatar-container {
      width: 100%;
      border: 1px solid #eee;
    }
    .aqua-gradient {
      height: 240px;
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 20%, rgb(15, 4, 113)93%);
    }
    #avatar {
      margin-top: -150px;
      width: 400px;
    }
    .image {
      margin-top: -150px;
      width: auto;
    }
    #projects .img-fluid {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
      color: #8490ff;
  }
}

@media (min-width: 923px) {
  .navbar:not(.top-nav-collapse) {
      background: #fff !important;
  }
  #projects .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .aqua-gradient {
      height: 250px;
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 20%, rgb(15, 4, 113)93%);
    }
    .image {
      margin-top: -150px;
      width: auto;
    }
  .avatar-container {
      width: 100%;
      border: 1px solid #eee;
    }
}



@media (max-width:1420px) and  (min-width:1000px)  {
  .navbar:not(.top-nav-collapse) {
    background: #fff !important;
  }
  .navbar-collapse {
      overflow-x: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: auto !important;
  }
  .collapse.in {
    display: block !important;
  }
  .avatar-container {
    width: 100%;
    border: 1px solid #eee;
  }
  #avatar {
    width: 340px;
  }
  .image {
    margin-top: -150px;
    width: auto;
  }
  .aqua-gradient {
    height: 200px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 20%, rgb(15, 4, 113)93%);
  }
  .container {
    margin: 0 auto;
    max-width: 1440px;

  }
  #projects .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* #project1{
    max-width: 100%;
    height: 300px;

  }
  #project2{
    max-width: 100%;
    height: 300px;
  } */
  /* #project3{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }
  #project4{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }
  #project5{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }
  #project5{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }
  #project6{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }
  #project7{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }
  #project8{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }
  #project9{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  } */
}

@media (min-width:1440px)  {
  .navbar:not(.top-nav-collapse) {
    background: #fff !important;
  }
  .navbar-collapse {
      overflow-x: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: auto !important;
  }
  .collapse.in {
    display: block !important;
  }
  .avatar-container {
    width: 100%;
    border: 1px solid #eee;
  }
  .image {
    margin-top: -150px;
    width: auto;
  }
  .aqua-gradient {
    height: 200px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 20%, rgb(15, 4, 113)93%);
  }
  .container {
    margin: 0 auto;
    max-width: 1440px;

  }
  /* .img-fluid {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  } */


  /* #project1{
    max-width: 100%;
    height: 300px;

  }

  #project2{
    max-width: 100%;
    height: 300px;
  } */

  /* #project3{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }

  #project4{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }

  #project5{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }

  #project5{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }

  #project6{
    max-width: 100%;
    height: auto;
  }
  #project7{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }
  #project8{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  }
  #project9{
    max-width: 100%;
    height: 300px;
    clip: rect(0px,60px,200px,0px);
  } */
}