html,
body,
header,
#intro-section {
    height: 100%;
}
 body {
  color: #000;
  background-color: #fbfbfb;
  font-family: Arial,verdana,sans-serif;
  letter-spacing: 0px;
  font-family: "proxima-nova";
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: .5px;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #000;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.top-nav-collapse, .page-footer {
  background-color: #fff !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #8490ff;
}

.fa-linkedin-in {
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
}

.fa-github {
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
} 

.breadcrumb-item.active {
  color: #fff;
}

/* .about-content {
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 90px 0px;
  text-align: center;
} */

@media (max-width: 740px) {
    html,
    body,
    header,
    #intro-section {
        height: 100%;
    }
    .avatar-container {
      width: 100%;
      border: 1px solid #eee;
    }
    .aqua-gradient {
      height: 300px;
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 20%, rgb(15, 4, 113)93%);
    }
    .image {
      margin-top: -150px;
    }
}

@media (min-width: 768px) {
.container {
    max-width: 720px;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
      background: #fff !important;
  }

  .aqua-gradient {
      height: 250px;
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 20%, rgb(15, 4, 113)93%);
    }
    
  .image {
      margin-top: -100px;
    }
  .avatar-container {
      width: 100%;
      border: 1px solid #eee;
    }
}

@media (min-width:1000px)  {
  .navbar:not(.top-nav-collapse) {
    background: #fff !important;
  }
  .navbar-collapse {
      overflow-x: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: auto !important;
  }
  .collapse.in {
    display: block !important;
  }
  .avatar-container {
    width: 100%;
    border: 1px solid #eee;
  }
  .image {
    margin-top: -100px;
  }
  .aqua-gradient {
    height: 300px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 20%, rgb(15, 4, 113)93%);
  }
  .container {
    margin: 0 auto;
    max-width: 1224px;
  }
}

}

